.table {
  input {
    background: transparent;
  }
  input:target {
    background: transparent;
  }
}

.blockGraphModule{
  min-height: 70vh;
  border: 1px solid #000;
  margin: 50px 0px !important;
}
